# Tutorium DSCB 230
## Aufgabenteil 2
fj

_Hinweise siehe unten_

#### Aufgabe 2.1
Ein Unternehmen hat Bestelldaten in unterschiedlichen CSV Dateien gespeichert (sales_records_(1-4).csv). Ihre Aufgabe ist es nun diese zu einem DataFrame zusammenzuführen, um im nächsten Schritt Auswertungen durchführen zu können.

In [2]:
import pandas as pd

In [82]:
# Zusammenführen der CSV Dateien
df = pd.concat(map(pd.read_csv, ["sales_records_1.csv", "sales_records_2.csv", "sales_records_3.csv", "sales_records_4.csv"]), ignore_index=True)

# Setzen der Order ID als Index und Anpassen der Datentypen der Dates
df.set_index("Order ID", inplace=True)
df["Order Date"] = pd.to_datetime(df["Order Date"])
df["Ship Date"] = pd.to_datetime(df["Ship Date"])

df.head()

,Region,Country,Item Type,Order Date,Ship Date,Units Sold,Unit Price
Order ID,,,,,,,
686800706,Middle East and North Africa,Libya,Cosmetics,2014-10-18,2014-10-31,8446,437.20
185941302,North America,Canada,Vegetables,2011-11-07,2011-12-08,3018,154.06
246222341,Middle East and North Africa,Libya,Baby Food,2016-10-31,2016-12-09,1517,255.28
161442649,Asia,Japan,Cereal,2010-04-10,2010-05-12,3322,205.70
645713555,Sub-Saharan Africa,Chad,Fruits,2011-08-16,2011-08-31,9845,9.33

#### Aufgabe 2.2
Die Geschäftsführung möchte wissen, aus wie vielen verschiedene Regionen und Ländern Bestellungen eingingen.
Bestimmen Sie die eindeutigen Regionen und Länder und speichern Sie diese als CSV-Datei ab.

In [81]:
# Herausfinden aller eindeutigen Werte pro Spalte
u_vals = df.nunique()

# Überführen in ein df
u_df = u_vals.to_frame(name="Unique Values")

# Nur die Zeilen Region und Country sollen übernommen werden
u_df = u_df.loc[["Region","Country"]]

#Schreiben der Datei
u_df.to_csv("unique_values.csv", index_label="Column")

#### Aufgabe 2.3
Bestimmen Sie nun den Umsatz pro Region (in Mio, auf 1 Nachkommastelle gerundet) und speichern Sie diesen (Spalten Region und Umsatz) als Parquet Datei ab.

In [80]:
# Berrechnen des Umsatzes pro Bestellung
df["Umsatz"] = round(df["Unit Price"] * df["Units Sold"]/1000000, 1)

# Gruppieren nach Region und Summieren der jeweiligen Umsätze
df_umsatz_region = df.groupby(["Region"])['Umsatz'].sum().reset_index()

# Schreiben der Datei
df_umsatz_region.to_parquet("umsatz_region.parquet")

#### Hinweise 
2.1) concat, map

2.2) nunique

2.3) groupby, sum